.App {
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden;
}

.main-wrapper{
  top: 0;
  left: 0;
  position: absolute;
}

.main {
  height: 100vh;
  width: 100vw;
}

.main.a{
  background-color: #fffff0;
}
.main.b{
  background-color: #423b67;
}
.main.c{
  background-color: #3b4467;
}
.main.d{
  background-color: #3b4d67;
}

.appbar-logo-container{
  font-weight: bolder;
}

.appbar-logo-divider{
  margin-left: 10px;
}

.header-wrapper{
  position: absolute;
  top:70vh;
  width: 100vw;
  font-size: xx-large;
  font-weight: 900;
} 

.radio-buttons-wrapper{
  display: grid;
  position: fixed;
  justify-content: flex-end;
  padding-right: 2.5vw;
  width: 100vw;
  top: 35%;
}

/* 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

*/