.App {
  text-align: center;
  background-color: #282c34;
  overflow-x: hidden;
}

.main-wrapper {
  top: 0;
  left: 0;
  position: absolute;
}

.main {
  height: 100vh;
  width: 100vw;
}

.main.a {
  background-color: #fdfde6;
}

.main.b {
  background-color: #423b67;
  background-image: url(../public/images/profilo_new.jpg);
  color: white;
  background-size: cover;
  background-position: center;
}

.main.c {
  background-color: #fdfde6;
}

.main.d {
  background-color: #3b4d67;
}

.appbar-logo-container {
  font-weight: bolder;
}

.appbar-logo-divider {
  margin-left: 10px;
}

.header-wrapper {
  position: absolute;
  top: 70vh;
  width: 100vw;
  font-size: 1.8em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: end;
}

.header-container{
  margin-bottom: 2vw;
}

.radio-buttons-wrapper {
  display: grid;
  position: fixed;
  justify-content: flex-end;
  padding-right: 2.5vw;
  right:0;
  top: 35%;
}

.avatars-header-wrapper {
  display: flex;
  justify-content: start;
  text-align: left;
  width: 40vh;
  margin-left: 2vw;
  /* font-family: 'Poppins', sans-serif; */

}

.avatars-header-wrapper.a {
  justify-content: start;
  text-align: left;
  width: 40vh;
  margin-left: 2vw;
}

.avatars-header-wrapper.b {
  position: absolute;
  text-align: right;
  width: 100vh;
  right: 5vw;
}


.my-header{
  font-family: 'Poppins', sans-serif;
}

.my-span{
  font-family: 'Nunito Sans', sans-serif;
}

/* 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

*/