.App {
  text-align: center;
  background-color: #282c34;

  .appbar-logo-container {
    font-weight: bolder;
  }

  .appbar-logo-divider {
    margin-left: 10px;
  }
}

.css-19kzrtu {
  padding: 0 !important;
}

.main-wrapper {
  position: absolute;
  top: 0;
  width: 100vw;

  .main {
    height: 100vh;
    width: 100%;

    &.a {
      background-color: #fdfde6;

      .logo {
        height: 60%;
      }
    }

    &.b {
      background-color: #423b67;
      background-image: url(../public/images/profilo_new.jpg);
      color: white;
      background-size: cover;
      background-position: center;
      position: relative;

      .overlay {
        height: 100%;
        width: 100%;
        background-color: #00000050;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

      }
    }

    &.b2 {
      background-color: #423b67;
      background-image: url(../public/images/Portrait_BG.png);
      color: white;
      background-size: cover;
      background-position: center;
      position: relative;

      .overlay {
        height: 100%;
        width: 100%;
        background-color: #00000050;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

      }
    }

    &.c {
      background-color: #fdfde6;
      // position:relative;
    }

    &.d {
      display: flex;
      background-color: rgb(0, 0, 0);
    }

    &.e {
      background-color: #fdfde6;
      // display: flex;
      justify-content: center;

      .image-wrapper {
        width: 100vw;
        height: 100%;

        .image-filter-panel {
          position: absolute;
          height: 50vh;
          width: 100%;
          background-color: #6350ff17;
          filter: blur(4px);
        }

        .studio-image {
          width: 100vw;
          height: 100%;
          object-fit: cover;
        }

        .portfolio-container {
          width: 100%;
          height: 100vh;
          // border: 1px solid red;
          position: absolute;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .portfolio-dialog {
            width: 50%;
            align-self: center;
            background-color: rgba(0, 0, 0, 0.452);
            padding: 10px;
            border-radius: 40px;
            color: white;
            font-family: "Nunito Sans", sans-serif;
            font-size: smaller;
          }

          @media screen and (max-width: 575px) {
            .portfolio-dialog {
              width: 90%;
              align-self: center;
              background-color: rgba(0, 0, 0, 0.452);
              padding: 5px;
              border-radius: 20px;
              color: white;
              font-family: "Nunito Sans", sans-serif;
              font-size: smaller;
            }
          }

          .portfolio-dialog-link {
            margin-top: 30px;
            width: 7%;
            align-self: center;
            background-color: rgba(0, 0, 0, 0.452);
            padding: 5px;
            border-radius: 20px;
            color: white;
            font-family: "Nunito Sans", sans-serif;
            font-size: smaller;
            cursor: pointer;
            font-weight: bold;
          }

          .threed-link {
            color: white;
          }

          @media screen and (max-width: 575px) {
            .portfolio-dialog-link {
              width: 30%;
              align-self: center;
              background-color: rgba(0, 0, 0, 0.452);
              padding: 5px;
              border-radius: 20px;
              color: white;
              font-family: "Nunito Sans", sans-serif;
              font-size: smaller;
            }
          }
        }
      }


    }

    &.f {
      height: 100%;
      background-color: #fdfde6;
    }
  }

  .footer-page {
    height: 100%;
    width: 100%;
    background-color: #fdfde6;

    .myfooter {
      justify-content: space-evenly;
      margin: 0 !important;
    }

    .logo-footer {
      height: 100%;
    }

    .footer-text-container{
      padding-top: 15px;
      text-align: left;
    }

    .about-label{
      font-family: "Nunito Sans", sans-serif;
      font-size: 0.8rem;
    }

    .mb-2{
      margin-bottom: 0 !important;
    }

    .lighttext{
      opacity: 0.5;
    }

  }

}

.logo-header-wrapper {
  height: 20%;
  cursor: pointer;
}

.logo-row {
  height: 80%;
}

.header-container {
  padding-top: 1vw;
}

.header-content {
  font-size: xx-large;
}

.header-subcontent {
  font-size: x-large;
}

.header-wrapper {
  width: 100vw;
  height: 100%;
  font-size: 1.8em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: end;
  cursor: pointer;


}

.radio-buttons-wrapper {
  display: grid;
  position: fixed;
  justify-content: flex-end;
  padding-right: 2.5vw;
  right: 0;
  top: 35%;
}

.avatar-changer {
  cursor: pointer;
}

.feed-overlay {
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 20%, rgba(255, 255, 255, 0) 70%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.avatars-content {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 15px;
}

.avatar-video-container {
  height: 100%;
}

.eva-video-container {
  position: relative;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.eva-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .avatar-video-container {
    height: 70%;
  }
}

.avatars-header-wrapper {
  display: flex;
  justify-content: start;
  text-align: left;
  padding-top: 5vw;
  flex-direction: column;
  // width: 25%;

  &.a {
    justify-content: start;
    text-align: left;
    // width: 25%;
    margin-top: 5vh;
    z-index: 2;
    position: relative;

  }

  &.b {
    text-align: right;
    right: 5vw;
  }

  &.c {
    height: 40%;
    color: white;
    z-index: 2;
  }
}

.my-header {
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 575px) {
  .my-header {
    font-size: x-large;
  }
}

.my-span {
  font-family: 'Nunito Sans', sans-serif;

}

@media screen and (max-width: 575px) {
  .my-span {
    font-size: smaller;
  }
}

.presentation-wrapper {
  width: 40%;
  margin-left: 5vw;
  right: 2vh;
  position: relative;
}

.product-row {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .product-row {
    flex-direction: column-reverse;
  }
}

.product-viewer-container {
  height: 90%;
}

.product-container {
  bottom: 0;
  position: relative;
}

.product-list {
  height: 10%;
}

.product-scene-wrapper {
  height: 100%;
}

.visual-container {
  height: 100%;
  width: 100%;
  padding: 15px;
  padding-bottom: 0px;
}

.visual-reel-container {
  height: 100%;
  position: relative;
}

@media screen and (max-width: 575px) {
  .visual-reel-container {
    height: 60%;
  }
}

.contact-flex-container {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  padding: 20px;

  .contact-wrapper {
    min-width: 300px;
    align-self: center;

    .contact-row {
      column-gap: 10px;
      display: flex;
      justify-content: space-between;
    }

    .send-row {
      padding: 15px;
      display: flex;
      justify-content: end;

      .send-button {
        color: #1d1d1d;
        border-color: rgba(128, 128, 128, 0.404);
        border-radius: 5px;
      }
    }

    .form-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .form-divider {
        width: 2.5vw;
        height: 100%;
      }
    }
  }
}

.viewer {
  height: 90%;
  width: 100%;
}


// @media screen and (max-width: 991px) {
//   .product-scene-wrapper {
//     height: 100%;
//     width: 100%;
//   }

//   .viewer{
//     height: 90%;
//     width: 70%;
//     top:20vh;
//   }
// }

@media screen and (max-width: 575px) {
  .product-scene-wrapper {
    height: 60%;
    width: 100%;
  }
}

// }

.viewer {
  height: 100%;
  width: 100%;
  // top:20vh;
}

model-viewer {
  --progress-bar-color: transparent;
}

/* 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

*/